<nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: #b6865f">
    <a class="navbar-brand" href="#"><i class="fas fa-book-open"></i>    1/2 Price Books</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link select" routerLink="/about" routerLinkActive="active"><i class="fas fa-info"></i>  about <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link select" routerLink="/listing" routerLinkActive="active"><i class="fas fa-ellipsis-v"></i>  Listings <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link select" routerLink="/addlisting" routerLinkActive="active"><i class="fas fa-ellipsis-v"></i>  Add List <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link select" routerLink="/viewlist" routerLinkActive="active"><i class="fas fa-ellipsis-v"></i>  Manage List <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mymessages" routerLinkActive="active"><i class="fas fa-comments"></i>    Messages</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/mywishlist" routerLinkActive="active"><i class="fas fa-heart fa-spin"></i>    WishList</a>
          </li>
          
         
          
      </ul>
      <span style="margin-left: auto">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link select" routerLink="/login" routerLinkActive="active"><i class="fas fa-user"></i> Log Out <span class="sr-only">(current)</span></a>
                </li>
            </ul>
          </span>
     </div>
      
    
  </nav>
 
